@import '~bootstrap/scss/bootstrap';
body {
  background-color: #E6E1C6;
  position: relative;
  text-align: center;
  
}
// h1 {
//   text-align: center;
//
// }
// h3 {
//   text-align: center;
// }
// h2{
//   text-align: center;
// }
//
// #sign-up {
//   margin: auto;
// }
// #sign-in {
//
// }
.row {
  margin: 0 auto;
}
.game{
  margin: 0 auto;

}
.row {
  width: 450px;


}
.col {
  border: 1px solid black;
  height: 100px;
}
